@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0em; /* Ширина вертикальної прокрутки */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Колір полоси прокрутки */
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent; /* Колір фону прокрутки */
  }